# Catch all for anything we forgot. Add rules if you get CRLF to LF warnings.
* text=auto

# Text files that should be normalized to LF in odb.
*.cs       eol=crlf diff=csharp
*.config   eol=crlf
*.sln      eol=crlf
*.csproj   eol=crlf

# Binary files that should not be normalized or diffed
*.dll    binary
*.exe    binary
*.pdb    binary